
.firstpage{
    background-color: #1F2937;
    
    padding: 20px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    
}
.header-left{
   
    color: white;
    font-size: 22px;
    font-weight: 900;
    
}
.header-right{
    margin: 0px;
    display: flex;
    list-style: none;
    gap: 20px;
}
.header-right a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    margin: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
   
}
h1{
    margin: 0px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-left{

    display: flex;
    flex-direction: column;
}
.hero-left p{
    font-size: 18px;
    color: #E5E7EB;
}
.hero button{
    background-color: rgb(29, 134, 253);
    color: #E5E7EB;
    border-radius: 25px;
    width: 100px;
    height:21px
}
.second-page{
    background-color: #e0e0e0;
    padding: 20px;
}
.second-container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: auto;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.second-content ul{
    display: flex;
    gap: 10px;
    list-style: none;
    
}
.second-content img{
    width: 150px;
    height: 150px;
}
.second-content p{
    text-align: center;
}
.third-page{
    background-color: #8f8f8f;
    padding: 20px;
}
.third-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 100px;
}
.third-content p{
    font-size: 30px;
    font-style: italic;
}
.quote{
    text-align: end;
}
.fourth-page{
    padding: 40px;
    background-color: #e0e0e0;
}
.fourth-container{
    border-radius: 10px;
    background-color: rgb(54, 134, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.fourth-hero{
    color: #E5E7EB;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    font-weight: 600;
}
.fourth-sub{
    color: #E5E7EB;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 100;
}
.fourth-container button{
    border-color: #E5E7EB;
    margin: 20px;
    padding: 5px;
    background-color: rgb(94, 159, 255);
    color: #E5E7EB;
    font-size: 15px;
    border-radius: 10px;
}
.footer{
    padding: 20px;
    display: flex;
    font-size: 15px;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
}